# .env.sample - Sample Environment Variables for Frontend (Vite)

# Backend API URL (call it in React with import.meta.env.VITE_BACKEND_URL)
VITE_BACKEND_URL=http://localhost:3310

# Other Environment Variables (if needed)
VITE_CLIENT_ID= "YOUR CLIENT ID"
VITE_CLIENT_SECRET = "YOUR CLIENT SECRET"