.container {
  display: flex;
  width: 20vw;
  gap: 2rem;
}
.containerSlide {
  display: flex;
  gap: 1.5rem;
  overflow-x: hidden;
  overflow: scroll;
  padding-bottom: 5rem;
  padding-top: 1rem;
}

.name {
  color: white;
  font-size: 0.5rem;
}
