.container {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.containerImg {
  width: 25rem;
  height: 25rem;
}

.containerImg > img {
  width: 100%;
}

.infoAlbum {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.albumName {
  font-size: 2rem;
  color: white;
  text-align: center;
}

.artistName {
  font-size: 1.5rem;
  color: white;
}

.date {
  font-size: 1.5rem;
  color: #777772;
}

@media screen and (width > 768px) {
  .container {
    width: 90%;
    flex-direction: row;
  }

  .containerImg {
    width: 16rem;
    height: 16rem;
  }
}

@media screen and (width > 1024px) {
  .container {
    width: 80%;
  }

  .containerImg {
    width: 20rem;
    height: 20rem;
  }
}
