.container {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.name {
  color: white;
  font-size: 4rem;
}

.containerImg {
  width: 25rem;
  height: 25rem;
}

.infos {
  color: gray;
  gap: 2rem;
}

@media screen and (width > 768px) {
  .container {
    width: 90%;
    flex-direction: row;
  }

  .containerImg {
    width: 16rem;
    height: 16rem;
  }
}

@media screen and (width > 1024px) {
  .container {
    width: 80%;
  }

  .containerImg {
    width: 20rem;
    height: 20rem;
  }
}
