* {
  margin: 0;
}

.navBar {
  background-color: #100f0f;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.home,
.search,
.favoris,
.switch {
  margin: 1vh;
  justify-content: center;
  text-align: center;
}

.svgNavBar {
  height: 2rem;
  width: 2rem;
  fill: white;
}

a {
  text-decoration: none;
  color: white;
}

@media screen and (width > 1024px) {
  a {
    text-decoration: none;
    color: white;
    margin: 1vh;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  .switch {
    margin: 1vh;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  .titreSection {
    margin-bottom: 0.25rem;
  }
}
