.logo {
  width: 5rem;
  height: 5rem;
}

.icon_log_in {
  margin-right: 1.5rem;
  width: 2.5rem;
  height: 2.5rem;
  fill: white;
}

.nav_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* background-color: #100f0f; */
  background: radial-gradient(
    circle at 10% 20%,
    rgb(0, 0, 0) 0%,
    rgb(64, 64, 64) 90.2%
  );
  position: fixed;
  top: 0;
  width: 100%;
}

.titleH1 {
  color: white;
  letter-spacing: 0.25rem;
  font-size: 2rem;
}
