.container {
  margin-left: 1rem;
  margin-top: 5rem;
}

.cardPosition {
  display: flex;
  width: 100vw;
  gap: 1.5rem;
  overflow-x: auto;

  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.title {
  color: white;
  margin: 1.5rem 0;
}

.containerSlider {
  display: flex;
  width: 100%;
}
.cardPosition::-webkit-scrollbar {
  display: none;
}
