.container {
  margin-left: 1rem;
  padding-top: 6rem;
}

.cardPosition {
  display: flex;
  width: 100vw;
  gap: 1.5rem;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.title {
  color: white;
  margin: 1.5rem 0;
}

.containerSlider {
  display: flex;
  width: 100%;
}
.cardPosition::-webkit-scrollbar {
  display: none;
}

@media screen and (width > 1024px) {
  .title {
    font-size: 2rem;
  }

  .paraphLoading {
    font-size: 4rem;
  }
}
