.coversP {
  color: white;
  font-size: 10px;
  width: 15vh;
  padding-top: 1vh;
}

.albumCard img {
  height: 18vh;
  width: 18vh;
  border-radius: 50%;
}

.albumCard p {
  font-size: 1.3rem;
}

.albumCovers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4vh;
  justify-content: center;
  text-align: center;
}

.searchBar {
  height: 5vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
