/* .artistsNames {
  color: white;
} */

.albumCovers p {
  font-size: 10px;
  width: 15vh;
  margin-top: vh;
  font-size: 13px;
}

button {
  color: white;
  background-color: rgb(105, 105, 105);
  border: transparent;
  border-radius: 5px;
  width: 15vw;
  height: 5vh;
  margin-right: 2vh;
}

/* .titleH1 {
  color: white;
} */

.searchBar {
  height: 5vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-top: 8rem;
  margin-bottom: 5rem;
}

input {
  color: white;
  height: 5vh;
  width: 70%;
  background-color: rgb(105, 105, 105);
  border: transparent;
  border-radius: 5px;
  padding-left: 2vh;
  margin-left: 2vh;
}

::placeholder {
  color: white;
}

.imageList {
  height: 18vh;
  width: 18vh;
}

.albumCovers {
  color: transparent;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4vh;
  justify-content: center;
  text-align: center;
  padding-bottom: 20vh;
  color: transparent;
  height: 100%;
  width: 100%;
}

.albumCard {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
