.albumCovers p {
  width: 15vh;
  font-size: 1.3rem;
}

.buttonSearch {
  color: white;
  background-color: rgb(105, 105, 105);
  border: transparent;
  border-radius: 5px;
  width: 20vw;
  height: 5vh;
  margin-right: 2vh;
}

.buttonSearch p {
  font-size: 1.2rem;
}

.searchBar {
  height: 5vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-top: 8rem;
  margin-bottom: 5rem;
}

input {
  color: white;
  height: 5vh;
  width: 65%;
  background-color: rgb(105, 105, 105);
  border: transparent;
  border-radius: 5px;
  padding-left: 2vh;
  margin-left: 2vh;
  font-size: 1.2rem;
}

::placeholder {
  color: white;
}

.imageList {
  height: 18vh;
  width: 18vh;
}

.albumCovers {
  color: transparent;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4vh;
  justify-content: center;
  text-align: center;
  padding-bottom: 20vh;
  color: transparent;
}

.albumCard {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@media screen and (width > 1024px) {
  .buttonSearch p {
    font-size: 1.3rem;
  }

  input {
    font-size: 1.5rem;
  }
}
