#button-random {
  font-weight: bold;
  border-radius: 2rem;
  height: 4rem;
  font-size: 2rem;
  position: relative;
  margin: 0;
  width: 100%;
}

.lightMode {
  background-image: radial-gradient(
    circle at 18.7% 37.8%,
    rgb(214, 214, 214) 0%,
    rgb(197, 197, 197) 90%
  );
  border: black 3px solid;
  color: black;
}

.darkMode {
  background-image: radial-gradient(
    circle at 18.7% 37.8%,
    rgb(172, 172, 172) 0%,
    rgb(150, 150, 150) 90%
  );
  border: white 3px solid;
  color: white;
}

.buttonPosition {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 8rem;
}

.buttonPosition a {
  display: flex;
  justify-content: center;
  width: 100%;
}

@media screen and (min-width: 380px) and (max-width: 767px) {
  #button-random {
    width: 60%;
  }
}
@media screen and (min-width: 768px) {
  #button-random {
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  #button-random {
    width: 40%;
  }
}
