#button-random {
  color: #262422;
  text-shadow:
    -1px 0 white,
    0 1px white,
    1px 0 white,
    0 -1px white;
  background-image: linear-gradient(
    to right,
    #7e53be,
    #b051b1,
    #d455a0,
    #eb628e,
    #f9767e,
    #fe8576,
    #ff946f,
    #ffa46c,
    #ffaf69,
    #ffba67,
    #ffc566,
    #ffd166
  );
  border: none;
  border-radius: 2rem;
  width: 100%;
  height: 3rem;
  font-size: 1.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  position: relative;
}

.buttonPosition {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 380px) and (max-width: 767px) {
  #button-random {
    width: 60%;
  }
}
@media screen and (min-width: 768px) {
  #button-random {
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  #button-random {
    width: 40%;
  }
}
